@{
    ViewBag.Title = "Home Page";

}

<body id="page-top">
    <!-- Header -->
    <div class="headerContainer" style="max-width: 100%; ">
        <header class="headerContainer masthead">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To iFinance!</div>
                <div class="intro-heading text-uppercase">We are here faciltate your finance</div>
                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-xl text-uppercase" })
            </div>

        </header>
    </div>


    <!-- Services -->
    <section id="services" style="padding: 5% 0!important">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Services</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Shopping Records</h4>
                    <p class="text-muted">Add any expense you have made including the Name, date and amount you pay.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Incomes records</h4>
                    <p class="text-muted">Add any income you have received.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Only certified users can add, edit or delete any record.</p>
                </div>
            </div>
        </div>
    </section>
</body>